# npm modules
node_modules
dist
bin

# utility files
.git
.vscode
.codeclimate.yml
.gitignore
.travis.yml
.github
.releaserc.yml
docker-compose.yml

# build files
coverage
.nyc_output

# secret files
*.pem
gh-app.pem

# documentation files
README.md
docs