doctype html
html
    head
        title Swingletree
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css" integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous")

        link(rel="apple-touch-icon" sizes="180x180" href="./static/icon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./static/icon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./static/icon/favicon-16x16.png")
        link(rel="manifest" href="./static/icon/site.webmanifest")
        link(rel="mask-icon" href="./static/icon/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="./static/icon/favicon.ico")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content="./static/icon/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    body(style="padding-top:5rem")
        nav(class="navbar navbar-dark bg-dark fixed-top")
            a(class="navbar-brand" href="#")
                img(src="./static/icon.svg" width="30" height="30" class="mr-2 d-inline-block align-top" alt="")
                .
                    Swingletree

            ul(class="navbar-nav")
                a(class="nav-link" href="https://github.com/error418/swingletree")
                    i(class="fab fa-github")
        
        block content

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
        script $(function () { $('[data-toggle="tooltip"]').tooltip() })