extends base

block content
    div(class="container")
        div(class="row")
            div(class="col-md-12")
                div(class="jumbotron")
                    h1 Hi, there!
                    p(class="lead") Your Swingletree is ready to go.

                    hr

                    if appPublicPage
                        p To install Swingletree to your GitHub organization click #[i Install] in the menu.
                    else
                        p To install Swingletree to your GitHub organization visit the Swingletree GitHub app public page of your GitHub instance.

                    p For more technical details of what Swingletree does you can take a look at #[a(href="https://github.com/error418/swingletree/blob/master/README.md") Swingletree's readme].
