---
# Swingletree page custom css
---

html {
  font-size: .8em;
}

body {
  padding-top: 100px;
}


.separator {
  padding-top: 1.5em;
}

.fas,.fab {
  &.feat {
    color: #61828f;
  }
}

.footer {
  font-size: .75em;
}

.mt-3 {
  margin-top: 0.3em;
}

.mr-2 {
  margin-right: 0.2em;
}

.obfuscate {
  unicode-bidi:bidi-override;
  direction: rtl;
}

.sponsorware-badge {
  &::before {
    content: "";
    display:inline-block;
    height:1.2em;
    width:1.2em;
    background-size: 1.2em 1.2em;
    margin-right: 0.4em;
    vertical-align: middle;
    background-image: url("{{ 'assets/images/sponsorware.svg' | relative_url }}");
    background-repeat: no-repeat;
    
  }
}

// Section Headings

h1,h2,h3,h4,h5 {
  &.underline {
    border-bottom: 2px dotted #ddd;
    //text-align: center;
    padding-bottom: 0.2em;
    margin-bottom: 1.2em;
  }

  &.no-top-margin {
    margin-top: 0;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}
