---
# Swingletree page custom css
---

html {
  font-size: .8em;
}

body {
  padding-top: 100px;
}


.separator {
  padding-top: 1.5em;
}

.fas,.fab {
  &.feat {
    color: #61828f;
  }
}

.footer {
  font-size: .75em;
}

.obfuscate {
  unicode-bidi:bidi-override;
  direction: rtl;
}

// Section Headings

h1,h2,h3,h4,h5 {
  &.underline {
    border-bottom: 2px dotted #ddd;
    //text-align: center;
    padding-bottom: 0.2em;
    margin-bottom: 1.2em;
  }

  &.no-top-margin {
    margin-top: 0;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}
